.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.942871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.865397;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.854492;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs2{font-size:72.000000px;}
.fs3{font-size:80.000000px;}
.fs1{font-size:96.000000px;}
.fs0{font-size:128.000000px;}
.y0{bottom:0.000000px;}
.y3{bottom:54.198219px;}
.y2{bottom:54.198311px;}
.y6{bottom:59.127602px;}
.y5{bottom:59.127663px;}
.y9{bottom:64.057045px;}
.y8{bottom:64.057137px;}
.yc{bottom:67.570656px;}
.yb{bottom:67.570747px;}
.y13{bottom:75.947729px;}
.y4{bottom:107.973822px;}
.y1{bottom:110.361700px;}
.y7{bottom:115.117773px;}
.ya{bottom:116.416906px;}
.ye{bottom:353.938782px;}
.yd{bottom:375.538780px;}
.y12{bottom:405.115196px;}
.y10{bottom:410.763645px;}
.y11{bottom:429.115198px;}
.yf{bottom:430.304138px;}
.h3{height:48.726562px;}
.h4{height:55.052083px;}
.h2{height:66.062500px;}
.h1{height:93.750000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xc{left:259.850830px;}
.x8{left:298.378235px;}
.x4{left:320.057953px;}
.x1{left:322.487732px;}
.x7{left:366.573578px;}
.xf{left:370.010376px;}
.x5{left:371.369232px;}
.x9{left:372.986389px;}
.x2{left:378.944519px;}
.x6{left:565.203888px;}
.xa{left:566.821014px;}
.x3{left:572.779144px;}
.xb{left:616.600986px;}
.xd{left:679.089512px;}
.xe{left:710.603184px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:96.000000pt;}
.fs3{font-size:106.666667pt;}
.fs1{font-size:128.000000pt;}
.fs0{font-size:170.666667pt;}
.y0{bottom:0.000000pt;}
.y3{bottom:72.264292pt;}
.y2{bottom:72.264414pt;}
.y6{bottom:78.836802pt;}
.y5{bottom:78.836884pt;}
.y9{bottom:85.409393pt;}
.y8{bottom:85.409515pt;}
.yc{bottom:90.094208pt;}
.yb{bottom:90.094330pt;}
.y13{bottom:101.263639pt;}
.y4{bottom:143.965096pt;}
.y1{bottom:147.148933pt;}
.y7{bottom:153.490364pt;}
.ya{bottom:155.222542pt;}
.ye{bottom:471.918376pt;}
.yd{bottom:500.718374pt;}
.y12{bottom:540.153595pt;}
.y10{bottom:547.684860pt;}
.y11{bottom:572.153598pt;}
.yf{bottom:573.738851pt;}
.h3{height:64.968750pt;}
.h4{height:73.402778pt;}
.h2{height:88.083333pt;}
.h1{height:125.000000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xc{left:346.467773pt;}
.x8{left:397.837646pt;}
.x4{left:426.743937pt;}
.x1{left:429.983643pt;}
.x7{left:488.764771pt;}
.xf{left:493.347168pt;}
.x5{left:495.158976pt;}
.x9{left:497.315186pt;}
.x2{left:505.259359pt;}
.x6{left:753.605184pt;}
.xa{left:755.761353pt;}
.x3{left:763.705526pt;}
.xb{left:822.134649pt;}
.xd{left:905.452682pt;}
.xe{left:947.470912pt;}
}
